<annoucement-bar class="annoucement-bar">
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper swiper-annoucement-bar">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Discount: Use the code IMPACT20 to receive a 20% discount on your order</div>
                <div class="swiper-slide">Discount: Use the code IMPACT20 to receive a 20% discount on your order</div>
                <div class="swiper-slide">Discount: Use the code IMPACT20 to receive a 20% discount on your order</div>
            </div>
        </div>        
    </div>
</annoucement-bar>