//Import Vander Css
@import './swiper-bundle.scss';
@import './featured-item-section.scss';


:root {
    --clr-accent-500: #FB77A0;
    --clr-accent-400: hsl(12, 88%, 59%);
    --clr-accent-300: hsl(12, 88%, 75%);
    --clr-accent-100: hsl(13, 100%, 96%);

    --clr-primary-400: hsl(228, 39%, 23%);

    --clr-neutral-900: hsl(232, 12%, 13%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-secondary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: .8125rem;
    --fs-400: .875rem; //14px
    --fs-500: .9375rem;
    --fs-600: 1rem;
    --fs-700: 1.875rem;
    --fs-800: 2.5rem;
    --fs-900: 2.5rem; 

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-500);
    --fs-bttton: var(--fs-300);

    --size-100: .25rem;
    --size-200: .5rem;
    --size-300: .75rem;
    --size-400: .5rem;
    --size-500: 1rem;
    --size-600: 1.5rem;
    --size-700: 2rem;
    --size-800: 2.5rem;
    --size-900: 3rem;
}


@media (min-width: 62em) {
    :root {
        --fs-body: var(--fs-500);
        --fs-primary-heading: var(--fs-900);

        --fs-nav: var(--fs-300);
    }
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}


input {
    &:focus,
    &:hover {
        border: none;
        box-shadow: none;
        outline: none;
    }
}

/* Remove default margin */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg,
picture {

    max-width: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* Utitly classes */

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-accent-400 {
    color: var(--clr-accent-400);
}

.text-accent-100 {
    color: var(--clr-accent-100);
}

.text-neutral-100 {
    color: var(--clr-neutral-100);
}

.text-neutral-900 {
    color: var(--clr-neutral-900);
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}

.bg-accent-400 {
    background-color: var(--clr-accent-400);
}

.bg-accent-100 {
    background-color: var(--clr-accent-100);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

.fw-bold { font-weight: var(--fw-bold); }
.fw-semi-bold { font-weight: var(--semi-bold); }
.fw-regular { font-weight: var(--regular); }

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.1;
}

.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }
.fs-700 { font-size: var(--fs-700); }
.fs-800 { font-size: var(--fs-800); }
.fs-900 { font-size: var(--fs-900); }

.padding-block-900 {
    padding-block: var(--size-900);
}

.padding-block-700 {
    padding-block: var(--size-700);
}



.container {
    --max-width: 1340px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

.even-columns {
    display: grid;
    gap: 1rem;
    @media (min-width: 62em) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}


/* Genral styling */

body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-primary-400);
}

.button {
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 100vmax;
    padding: 1.25em 2.5em;
    font-weight: var(--fw-bold);
    font-size: var(--fs-bttton);
    line-height: 1;
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent-400);
    box-sizing: 0 1.25em 1em -1em var(--clr-accent-500);

    &[data-type="inverted"] {
        background-color: var(--clr-neutral-100);
        color: var(--clr-accent-400);
    }

    &:hover,
    &:focus-visible {
        background-color: var(--clr-accent-300);
    }

    &[data-type="inverted"]:hover,
    &[data-type="inverted"]:focus-visible {
        background-color: var(--clr-neutral-100);
        color: var(--clr-accent-300);
    }
    
}

//Links

.link {
    color: #000000;
    text-decoration: none;
    font-size: var(--size-500);
    &:visited,
    &link {
        color: #000000;
    }
}

// Navigation

.primary-header {
    padding-top: var(--size-200);
    .mobile-nav-toggle {
        cursor: pointer;
    }
    @media (min-width: 62em) {
        padding-top: var(--size-500);
    }
    .nav-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--size-400);
        @media (min-width: 62em) {
            gap: var(--size-900);
        }
    }
    @media (max-width: 62em) {
        &[overlay]::before {
            content: '';
            position: fixed;
            inset: 0;
            background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.8));
        }
    }


    .pirmary-navigation {
        .nav-list {
            font-size: var(--fs-nav);
            display: flex;
            gap: clamp(var(--size-400), 5vw, var(--size-700));
            font-weight: var(--fw-semi-bold);
            position: relative;
            .marker {
                position: absolute;
                width: 20px;
                height: 100%;
                background-color: red; 
                transition: margin .5s ease-in-out;
                left: 0;
            }
        }
        @media (max-width: 62em) {
            display: none;
    
            position: absolute;
            padding: var(--size-700);
            inset: 7rem var(--size-400) auto;
            max-width: 35rem;
            margin-inline: auto;
            background-color: var(--clr-neutral-100);
            border-radius: var(--size-100);
            box-shadow: 0 0 .075em rgb(0, 0, 0, 0.05);
            &[data-visible] {
                display: block;
            }
            .nav-list {
                display: grid;
                gap: var(--size-600);
                text-align: center;
                font-size: var(--fs-nav);
                font-weight: var(--fw-bold);
                a {
                    text-decoration: none;
                    color: var(--clr-primary-400);
                    &:hover, &:focus{
                        color: var(--clr-accent-400);
                    }
                }
            }
        }
    }    


    .icon-menu-container {
        float: right;
        width: max-content;
        margin-left: auto;
        display: flex;
        align-items: center;
        .icon-menu {
            display: inline-flex;
            text-decoration: none;
            margin: 0 var(--size-100);
            &:last-child {
                margin-right: 0;
            }
            @media (min-width: 62em) {
                margin: 0 var(--size-200);
            }
            @media (max-width: 62em) {
                .icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .mobile-nav-toggle {
            display: none;
            @media (max-width: 62em) {
                display: inline-flex;
                cursor: pointer;
                background: transparent;
                border: 0;
            }
        
            .icon-close {
                display: none;
            }
        }
    }
    &.layout-2 {
        .nav-wrapper {
            .icon-menu-container:first-child {
                margin-left: 0;
                margin-right: auto;
            }
        }
        .pirmary-navigation {
            padding: 10px 0px;
            ul {
                width: max-content;
                margin: auto;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    margin: auto;
                    width: 20%;
                    height: 100%;
                    background-color: red;
                }
            }
        }
    }
    &.layout-3 {
        .nav-wrapper {
            position: relative;
            .left-s {
                display: flex;
                align-items: center;
                .icon-menu-container {
                    float: none;
                    margin-right: var(--size-300);
                    .mobile-nav-toggle {
                        margin: 0;
                        border: none;
                        background: transparent;
                        display: flex;
                    }
                }
            }
            .search-container {
                position: absolute;
                inset: 0;
                width: 50%;
                max-width: 768px;
                margin: auto;
                height: 55px;
                @media (max-width: 600px) {
                    display: none;
                }
                @media (max-width: 62em) {
                    position: relative;
                    height: 35px;
                }
                form.search {
                    display: flex;
                    height: 100%;
                    .field{
                        display: flex;
                        height: 100%;
                        width: 100%;
                        background: rgb(217, 217, 217);
                        border-radius: 50px;
                        overflow: hidden;
                    }
                    .search__input {
                        display: flex;
                        width: 100%;
                        padding: 0px 25px;
                        appearance: none;
                        border: none;
                        background: transparent;
                        &::placeholder {
                            color: #000000;
                        }
                    }
                    .search__button {
                        display: flex;
                        position: absolute;
                        inset: 0;
                        margin: auto;
                        width: max-content;
                        height: max-content;
                        background: transparent;
                        border: none;
                        margin-right: 10px;
                        background: transparent;
                        @media (max-width: 62em) {
                            .icon {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}


// Annoucement Bar

annoucement-bar {
    overflow: hidden;
    display: block;
    background-color: var(--clr-accent-500);
    .swiper {
        padding: var(--size-200) 0;
        overflow: hidden;
    }

    .swiper-wrapper{
        transition-timing-function : linear;
    }

    .swiper-slide {
        text-align: center;
        color: var(--clr-accent-100);
        font-size: var(--fs-nav);
        width: max-content !important;
        margin: 0 10px;
    }
    .swiper-button-next{
        right: 0;
    } 
    .swiper-button-prev {
        left: 0;
    }
}








// Bottom
.display-sm-none {
    display: none !important;
}

.display-md-inline-flex {
    @media (min-width: 62em) {
        display: inline-flex !important;
    }
}


//Slider Section
.slider-section {
    .container {
        max-width: 1340px;
        margin: 0 auto;
        border: 1px solid var(--clr-neutral-900);
        border-radius: 15px;
        overflow: hidden;
        padding: 15px 15px;
        @media (min-width: 62em) {
            min-height: 600px;
        }
        .swiper-wrapper {
            margin: 20px 0;
            @media (min-width: 62em) {
                margin: 10px 0;
            }
        }
        .swiper-slide {
            .inner-container {
                .left-side {
                    @media (min-width: 62em) {
                        max-width: 50%;
                    }
                    .top_title {
                        font-family: var(--ff-body);
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 1;
                        @media (min-width: 62em) {
                            font-size: 20px;
                        }
                    }
                    .title {
                        font-family: var(--ff-heading);
                        font-style: normal;
                        font-weight: 800;
                        font-size: 32px;
                        line-height: 1.5;
                        color: #000000;
                        @media (min-width: 62em) {
                            font-size: 52px;   
                        }
                    }
                    .content {
                        font-family: var(--ff-body);
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.5;
                        @media (min-width: 62em) {
                            font-size: 16px;
                        }
                    }
                    .button-container {
                        
                    }
                }
                .right-side {
                    @media (min-width: 62em) {
                        max-width: 50%;
                    }
                    img {
                        aspect-ratio: 1 / 1;
                        display: flex;
                        object-fit: contain;
                        object-position: center;
                        @media (min-width: 62em) {
                            height: 550px;
                        }
                    }
                }
                @media (min-width: 62em) {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: center;
                    &.reverse {
                        flex-direction: row;
                        .left-side {
                            .left-side-inner-container {
                                text-align: right;
                            }   
                        }
                    }
                }
            }
        }
    }   
}

//Button Css

.btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    max-width: 100%;
    width: max-content;
    display: inline-block;
    border: 1px solid var(--clr-neutral-900);
    padding: 0 30px;
    text-decoration: none;
    border-radius: 30px;
    background-color:  #ffffff;
    color: var(--clr-neutral-900);
    margin: 10px 0;
    & + & {
        margin-left: 10px;
    }
    &--accent {
        border: 1px solid var(--clr-accent-500);
        background-color:  var(--clr-accent-500);
        color: var(--clr-accent-100);
    }
}

.slider-section {
    margin: 10px 0;
    @media (min-width: 62em) {
        margin: 20px 0;
    }
    display: flow-root;
} 


//Featured Items
.featured-item-section {
    margin-bottom: 40px;
    .inner-container  {
        position: relative;
        .title {
            position: absolute;
            z-index: 9;
            color: #fff;
            inset: 0;
            margin: auto;
            margin-bottom: 0px;
            height: max-content;
            font-size: var(--featured-item-title-mfs);
            font-family: 'Poppins';
            font-weight: bolder;
            padding: 0px 10px;
            @media (min-width: 750px) {
                font-size: var(--featured-item-title-dfs);
            }
        }
    }
}

//Featured End Items